# Dependencies
node_modules
package-lock.json
yarn.lock

# Production
dist
build

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log
npm-error.log
yarn-debug.log
yarn-error.log
